<footer class="space-xs text-center bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <span>© 2018 Wright Piano School — All Rights Reserved</span>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</footer>
