<div class="container">
  <h1>Contact</h1>
  <p>Wright Piano School</p>
  <p>Pasteurstraat 340</p>
  <p>2522RX Den Haag</p>
  <p>+31639591941</p>
  <p>wrightpianoschool@gmail.com</p>
  <p></p>
  <h3>Locations/regions:</h3>
  <p>Utrecht</p>
  <p>Den Haag</p>
  <p>Gouda</p>
  <p>Alphen aan den Rijn</p>
  <p>Rotterdam</p>
  <p>Amsterdam</p>
  <p>Leiden</p>
</div>
