<%= render 'shared/navbar-transparent' %>
<%= render 'shared/flashes' %>
<div class="main-container">
   <section class="bg-dark height-100">
     <%= image_tag "annie-picture1.jpg", class: "bg-image opacity-30" %>
      <div class="container">
         <div class="row justify-content-center text-center">
            <div class="col-12 col-md-10 col-lg-7">
               <h1 class="display-4">Wright Piano School</h1>
               <p class="lead text-light">Learn from the best! The Hague, Rotterdam, Utrecht, Leiden, Amsterdam</p>
               <%= link_to "Apply Now", new_student_path, class: "btn btn-lg btn-success" %>
            </div>
            <!--end of col-->
         </div>
         <!--end of row-->
      </div>
      <!--end of container-->
   </section>
   <!--end of section-->
</div>
