<div class="container">
<h1>Teachers</h1>
<p>Please click on a teacher to display their full information!</p>

<div class="container">
  <div class="row">
  </div>
</div>
<% @teachers.each do |teacher| %>
<%= link_to teacher_path(teacher) do %>
<div class="col-xs-12 col-sm-6 col-md-4">
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))
<% if teacher.photo? %>, url('<%= cl_image_path teacher.photo.path, height: 300, width: 400, crop: :fill, gravity: :face %>')<% end %>">
  <div class="card-category"><p><%= teacher.location %></p></div>
  <div class="card-description">
    <h2><%= "#{teacher.first_name} #{teacher.last_name}" %></h2>


  </div>


</div>
</div>
<% end %>
<% end %>
</div>
  </div>
</div>
